@page
@model Betfair.ExchangeComparison.Pages.Football.IndexModel
@{
}

@{
    ViewData["Title"] = "Test";
}

<div class="p-3 bg-dark">
    <div id="meetings-container">
        <div id="meetings">
            @await Html.PartialAsync("/Pages/Shared/Partials/FootballCatalogPartial.cshtml", Model.CatalogViewModel)
        </div>
        <div id="loading-meetings" class="m-3"><img src="~/spinner.gif" alt="Loading" /></div>
    </div>
</div>

<script type="text/javascript" src="~/js/test.js"></script>

