@model Betfair.ExchangeComparison.Pages.Test.IndexModel

<div class="test-wrapper">
    <div class="content text-light" id="content-win">
        @Model.HtmlModel.ContentWin
    </div>
    <div class="content text-light" id="content-other">
        Some Other Text
    </div>
</div>
